name: Metrics
on:
  schedule: [{cron: "0 15 * * 0"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          user: Tomarun029831
          template: classic
          config_timezone: Asia/Tokyo
          
          base: header, activity, community, repositories, metadata
          base_indepth: yes
          plugin_languages: yes
          plugin_languages_limit: 0
          plugin_languages_threshold: 0%
          plugin_languages_details: lines, percentage, bytes-size
          plugin_languages_sections: most-used, recently-used
          plugin_languages_indepth: yes

          plugin_followup: yes
          plugin_followup_indepth: yes
          plugin_followup_sections: repositories, user
          
          plugin_isocalendar: no
          plugin_isocalendar_duration: full-year

          plugin_lines: yes
          plugin_lines_history_limit: 5
          plugin_lines_repositories_limit: 10

          plugin_discussions: yes
          plugin_discussions_categories: yes

          plugin_notable: yes
          plugin_notable_from: all
          
          plugin_traffic: yes
          
          plugin_gists: yes
