name: Metrics
on:
  schedule: [{cron: "0 0 * * 1"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          committer_token: ${{ secrets.GITHUB_TOKEN }}

          user: Tomarun029831
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Tokyo
          
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell,
            gnuplot
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_threshold: C
          
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
